@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;

}

a {
  text-decoration: none;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 2rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

main {
  grid-area: main;
  
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.caption {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
  justify-content: space-between;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px;
}

.books li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  flex: 0 1 15%;
}

.product img {
  max-width: 200px;
  max-height: 200px;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
  justify-content: space-between;
}

.title {
  display: block;
  word-wrap:break-word;
  width: 200px;
  white-space: normal;
  font-size: small;
  font-weight: bold;
  padding-bottom: 0;
}

.author {
  margin-bottom: 40px;
  font-size: small;
}

.margin-top-xl{ margin-top: 3em; }
